body.admin-menu .navbar-fixed-top {
	top: 28px;
}
body.admin-menu #admin-menu {
	box-shadow: 0 0;
	z-index: 1100;
}

/* Use relative positioning if the internal toolbar is
shown. This will result in putting the navbar below the toolbar.
This does even work with the shortcuts module. */
body.toolbar .navbar-fixed-top {
	position: relative;
}

#page-wrapper {
	margin-top: 60px;
}
body.admin-menu #page-wrapper {
	margin-top: 90px;
}
#header {
	margin-bottom: 1em;
}

.navbar .navbar-brand img#logo {
	height: 24px;
	margin-top: -5px;
	margin-right: 5px;
}
.navbar.navbar-inverse ul.navbar-nav > li > a.active {
	color: white;
	background-color: #080808;
}
.navbar.navbar-default ul.navbar-nav > li > a.active {
	color: #555;
	background-color: #e7e7e7;
}

#content .row.tabs {
	margin-bottom: 20px;
}

ul.menu {
	padding-left: 10px;
}

table.table th.checkbox,
table.table td.checkbox {
	margin: auto;
}